.delete-icon{
  width: 24px;
}
.delete-icon:hover{
  cursor: pointer;
}
.delete-icon-small {
  width: 12px;
}
.add-icon {
  width: 16px;
}
.add-icon.big{
 width: 26px;
}

.refresh-icon {
    color: #ffffff;
}
